.image-404-error {
    padding-left: 233px;
    margin-top: -21px;
    width: 800px;
}

.h2-404 {
    text-align: center;
    padding-left: 112px;
    font-family: monospace;
    font-size: 50px;
}

.h3-404 {
    text-align: center;
    padding-left: 112px;
    font-family: monospace;
    font-size: 50px;
    margin-top: -23px;
}