<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<header>
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">Conversion History</h4>
                    <p class="text-muted">Here is the data of all conversions made in the web application</p>
                    <span th:replace="fragments/header-nav.html"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>

<h1 class="conversion-history-title">Filter Transactions</h1>


<div class="filterOption">
    <select id="filterOption" class="form-control" onchange="toggleFilterForm()">
        <option value="date">Filter by Date</option>
        <option value="id">Filter by ID</option>
    </select>
</div>


<form method="POST" action="/conversion-history/filter" class="filterForm" onsubmit="return validateForm()">
    <div id="date">
        <div class="form-group">
            <label class="input-label" for="fromDate">From Date:</label>
            <input type="date" class="form-control" id="fromDate" name="fromDate">
        </div>
        <div class="form-group">
            <label class="input-label" for="toDate">To Date:</label>
            <input type="date" class="form-control" id="toDate" name="toDate">
        </div>
    </div>

    <div id="ID">
        <div class="form-group">
            <label class="input-label" for="fromId">From ID:</label>
            <input type="number" class="form-control" id="fromId" name="fromId">
        </div>
        <div class="form-group">
            <label class="input-label" for="toId">To ID:</label>
            <input type="number" class="form-control" id="toId" name="toId">
        </div>
    </div>
    <button id="submitBtn" type="submit" class="btn btn-primary">Submit</button>
</form>

</body>
<script src="/js/currency-history.js"></script>
</html>