<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/too-many-requests.css">
</head>
<body>
<div class="img-container">
    <img src="/img/429.gif" alt="429">
</div>

<h1>Stop right there mister!</h1>
<h2>Error 429 - Too many requests!</h2>

</body>
</html>